{% extends "base.html" %}
{% block title %}Lista de Alumnos{% endblock %}


{% block content %}
  <h1>Alumnos Registrados</h1>
  
  <ul class="list">
    {% for alumno in alumnos %}
    <li>
      <strong>#{{ alumno.id_alumno }}</strong> — 
      {{ alumno.nombre }} {{ alumno.apellido }}
      
      <div class="detalles">
        <span><strong>DNI:</strong> {{ alumno.dni }}</span> | 
        <span><strong>Nacimiento:</strong> {{ alumno.fecha_nacimiento }}</span>
      </div>

    </li>
    {% else %}
    <li class="empty">No hay alumnos en la base de datos.</li>
    {% endfor %}
  </ul>
{% endblock %}