{% extends "base.html" %}
{% block title %}AlumnoE{% endblock %}

{% block content %}
{% if alumno %}
<ul class="list">
  <li>
    <strong>#{{ alumno.id_alumno }}</strong> — 
    {{ alumno.nombre }} {{ alumno.apellido }}
    <div class="detalles">
      <span><strong>DNI:</strong> {{ alumno.dni }}</span> | 
      <span><strong>Nacimiento:</strong> {{ alumno.fecha_nacimiento }}</span>
      <span><strong>Dinero:</strong> {{ alumno.dinero }}</span>
    </div>
  </li>
</ul>

<ul>

{% for c in cursos %}
    <li>{{ c.nombre_curso.es }} ({{ c.nombre_curso.en }}), {{c.id_curso}}</li>
{% else %}
    <li>No está inscrito a cursos</li>
{% endfor %}

</ul>

{% else %}
<p>No hay alumno con ese ID.</p>
{% endif %}

{% endblock %}