{% extends "base.html" %}
{% block title %}Curso{% endblock %}

{% block content %}
{% if curso %}
    <h2 style="color: #ffffff;">{{ curso.nombre_curso.es }}</h2>
    <h2 style="color: #ffffff;">{{ curso.nombre_curso.en }}</h2>
    
    <h3 style="color: #ffffff;">Alumnos matriculados</h3>
    <ul style="color: #ffffff;">
    {% for a in alumnos %}
        <li>{{ a.nombre }} {{ a.apellido }}</li>
    {% else %}
        <li>No hay alumnos matriculados</li>
    {% endfor %}
    </ul>
{% else %}
    <p style="color: #ffffff;">No existe ese curso.</p>
{% endif %}
<a href="{{ url_for('cursos.eliminar_curso', id_curso=curso.id_curso) }}">Eliminar curso</a>
{% endblock %}