{% extends "base.html" %}
{% block content %}
<form method="POST" action="/matriculas/nuevo">
    <div>
        <label>Alumno:</label>
        <select name="id_alumno" required>
            <option value="" disabled selected>-- Selecciona alumno --</option>
            {% for alu in alumnos %}
                <option value="{{ alu.id_alumno }}">
                    {{ alu.nombre }} {{ alu.apellido }} (Saldo: {{ alu.dinero }}€)
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Curso:</label>
        <select name="id_curso" required>
            <option value="" disabled selected>-- Selecciona curso --</option>
            {% for cur in cursos %}
                <option value="{{ cur.id_curso }}">
                    {{ cur.nombre_curso }}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Matricular alumno</button>
</form>
{% endblock %}