{% extends "base.html" %}
{% block content %}
<form method="POST" action="/matriculas/nuevo">
    <div>
        <label>Alumno:</label>
        <select name="id_alumno" required>
            <option value="" disabled selected>-- Selecciona alumno --</option>
            {% for alu in alumnos %}
                <option value="{{ alu.id_alumno }}">
                    {{ alu.nombre }} {{ alu.apellido }} (Saldo: {{ alu.dinero }}€)
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Asignatura:</label>
        <select name="id_asignatura" required>
            <option value="" disabled selected>-- Selecciona asignatura --</option>
            {% for cur in asignaturas %}
                <option value="{{ cur.id_asignatura }}">
                    {{ cur.nombre_asignatura.es }} ({{ cur.nombre_asignatura.en }})
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Matricular alumno</button>
</form>
{% endblock %}